.btn {
  padding: 10px; }

.btn-primary {
  background: #f19020;
  border-color: #f19020;
  color: #ffffff; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #f7a500;
  border-color: #f19020; }

.btn-primary:active, .btn-primary.active {
  background: #f7a500;
  border-color: #f19020;
  box-shadow: none; }

body {
  color: #fff;
  background: #127ccb; }

div:hover a {
  text-decoration: none; }

.container--main {
  padding-top: 40px; }

.navbar {
  position: absolute;
  display: flex;
  width: 100%;
  background-color: #127ccb; }

.header .navbar .autor {
  color: #fff; }

.search {
  background: #127ccb;
  padding: 10px;
  display: flex; }

.search__form {
  width: 100%; }

.search__form__button {
  margin: 0 10px; }

#search__btn {
  margin: 20px 0;
  font-weight: 600; }

.form-group {
  padding: 0 10px;
  position: relative; }

label {
  color: #fff;
  font-size: 0.8em;
  font-weight: 600; }

.search__options {
  position: absolute;
  background: #fff;
  color: #777;
  top: 69px;
  border-radius: 4px;
  width: calc(100% - 20px);
  padding: 0;
  list-style: none;
  z-index: 1; }
  .search__options li {
    padding: 5px 14px; }
    .search__options li:hover {
      background-color: #dbdbdb;
      border-radius: 5px; }

#bus-datepicker:after {
  font-family: FontAwesome;
  content: "\f073";
  position: absolute;
  right: 10px;
  top: 7px;
  color: #777;
  pointer-events: none;
  z-index: 3; }

.datepicker {
  width: calc(100% - 40px);
  display: flex;
  border: 2px solid #f19020;
  color: #777;
  justify-content: stretch;
  text-align: center;
  padding: 0; }
  .datepicker .datepicker-days, .datepicker .table-condensed {
    width: 100%; }
  .datepicker thead {
    border-bottom: 1px solid #f19020; }
    .datepicker thead tr {
      background: #f19020;
      color: #fff; }
      .datepicker thead tr:last-child {
        background: #fff;
        color: #f19020; }
      .datepicker thead tr:first-child {
        height: 0; }
  .datepicker td:hover {
    background: #dbdbdb;
    border-radius: 3px; }
  .datepicker td.disabled {
    color: #dbdbdb; }
    .datepicker td.disabled:hover {
      background-color: #fff; }

@media (min-width: 768px) {
  .search__form__field {
    display: flex; }
  .search__form {
    max-width: 800px;
    width: 100%;
    margin: auto;
    flex-direction: column; }
  .datepicker {
    width: calc(180px); } }

@media (min-width: 1024px) {
  .search__form__field {
    display: flex; }
  .search__form {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width: 100%; }
  #search__btn {
    margin: 29px 0 20px;
    padding: 6px 10px; } }

@media (min-width: 768px) {
  .home .search {
    background: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(241, 144, 32, 0.12) 50%), url(/images/adult-2693054_1920.jpg);
    padding: 80px 10px 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .home .search__form {
    display: inline-block;
    max-width: 800px;
    width: 100%; }
  .home .search__form__button {
    width: 300px;
    margin: 0 auto; }
  .home #search__btn {
    padding: 10px; } }

.promotion {
  position: relative; }
  .promotion::before {
    z-index: 2;
    background-color: #f19020;
    height: calc(100% - 10px);
    width: 5px;
    font-weight: bold;
    content: '';
    border-bottom: solid 1px #fff;
    position: absolute;
    left: 10px;
    top: 10px; }
  .promotion a {
    color: #0f3852; }

.promotion__intro {
  padding-bottom: 5px; }

.promotion__title {
  font-size: 1.3em;
  padding: 10px 20px 0;
  font-weight: 600; }

.promotion__information {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; }

.promotion__main {
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  position: relative; }
  .promotion__main a {
    color: #0f3852; }

.promotion__main--details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.promotion__main--logo {
  display: flex;
  justify-content: center; }
  .promotion__main--logo img {
    width: 60%;
    height: 60%; }

.promotion__main--date, .promotion__main--link {
  text-align: center;
  font-weight: 600; }

.promotion__main--link {
  color: #0f3852;
  padding-top: 50px; }
  .promotion__main--link span {
    padding: 10px;
    border: 3px solid #0f3852;
    border-radius: 10px; }

@media (min-width: 768px) {
  .promotion__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px; }
  .promotion__information--date {
    padding-left: 40px; } }

.promotion__main--background {
  background: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(241, 144, 32, 0.12) 50%), url(/images/festival.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1; }

.promotion__main--details {
  z-index: 2;
  pointer-events: none; }

.promotion__main--background {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.promotion__main--background:hover, .promotion__main--background:focus {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.results__header {
  background-color: #127ccb;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 20px; }

.results__header__title {
  font-size: 20px;
  display: inline-block;
  padding-right: 60px; }

.results__title--arrow {
  font-size: 16px; }

.results__header__details {
  font-size: 14px;
  display: inline-block; }

.results__details--data {
  padding: 5px 10px 0px; }

.results .results__header--search {
  background: #fff;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px; }
  .results .results__header--search:before {
    font-family: FontAwesome;
    content: "\f002"; }

.results__header--search[aria-expanded="true"]:before {
  content: "\f068";
  font-size: 0.8em; }

.results .results__header--search:not([href]):not([tabindex]) {
  color: #127ccb; }

.results__list {
  padding: 0;
  list-style-type: none; }

.results__item {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffffde;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f19020; }
  .results__item:hover .results__item__price {
    color: #fff;
    background-color: #f19020; }

.results__item__main {
  position: relative;
  padding: 0 0 0 25px; }
  .results__item__main:before {
    position: absolute;
    content: "";
    background-color: #f19020;
    width: 2px;
    height: calc(100% - 24px);
    left: 5px;
    border-radius: 30%; }
  .results__item__main:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f207";
    color: #f19020;
    bottom: 0px;
    left: 0; }

.results__item__arrival--time {
  display: flex;
  position: relative; }

.results__item__date {
  font-weight: 600;
  color: #777;
  padding-right: 22px; }

.results__item__arrival--time-sub {
  font-weight: 600;
  color: #777;
  font-size: 12px;
  position: absolute;
  left: 72px; }

.results__item__location {
  color: #777;
  font-size: 0.9em; }

.results__item__details {
  text-align: center; }

.results__item__diffTime {
  color: #777;
  font-size: 0.8em;
  margin: 3px; }
  .results__item__diffTime:before {
    font-family: FontAwesome;
    content: "\f017";
    color: #777;
    margin-right: 5px; }

.results__item__price {
  font-weight: 600;
  color: #f19020;
  padding: 2px 5px;
  border-radius: 5px; }

@media (min-width: 768px) {
  .results__item__departure, .results__item__arrival, .results__item__details {
    display: flex;
    align-items: center; }
  .results__item__main {
    width: 65%; }
  .results__item__details {
    flex-grow: 1;
    justify-content: space-between; } }
