.header
  .navbar
    a.header-brand(href="/en")
      img.logo(src="https://busbud.imgix.net/busbud-logos/busbud_logo.svg?auto=compress%2Cformat" alt="Busbud" aria-label="Busbud")
    a.autor Sara Neila



