.header
  .navbar
    a.header-brand(href="/")
      img.logo(src="https://busbud.imgix.net/busbud-logos/busbud_logo.svg?auto=compress%2Cformat" alt="Busbud" aria-label="Busbud")
    a.autor(href="https://www.linkedin.com/in/saraneila/" target="_blank") Sara Neila

