.search
  form.search__form(method='GET' action='/results')
    .search__form__field
      .form-group
        label(for='origin') From:
        input#origin.form-control(type='text' placeholder='City' name='origin' autocomplete='off')
        ul.search__options
      .form-group
        label(for='destination') To:
        input#destination.form-control(type='text' placeholder='City' name='destination' autocomplete='off')
        ul.search__options
      .form-group
        label(for='departure') Depart:
        #bus-datepicker(class='input-daterange input-group')
          input#departure.form-control(type='text' placeholder='dd-mm-yyyy' autocomplete="nope" class='input-sm form-control' name='departure' data-date-format='DD, MM d' )

      .form-group
        label(for='passengers') Travelers:
        input#passengers.form-control(type='passengers' name='passengers')
    .search__form__button
      button#search__btn.btn.btn-primary.btn-block(type='submit') Search for buses
