.search
  form.search__form(method='GET' action='/results')
    .search__form__field
      .form-group
        label(for='origin') From:
        input#origin.form-control(type='text' placeholder='City' name='origin' autocomplete='off')
        ul.search__options
      .form-group
        label(for='destination') To:
        input#destination.form-control(type='text' placeholder='City' name='destination' autocomplete='off')
        ul.search__options
      .form-group
        label(for='departure') Depart:
        #bus-datepicker(class='input-daterange input-group')
          input#departure.form-control(type='text' placeholder='dd-mm-yyyy' autocomplete="off" class='input-sm form-control' name='departure' data-date-format='DD, MM d' readonly= "readonly")
      .passengers.form-group
        .label Travelers:
        .form-control
          span.passenger--number 1
          span.passenger--sub  passenger
        .passengers__details
          .passengers__details__item
            label(for='adults') Adults:
            .passengers__details__item--information
              .passenger--subtract
              input#adults.form-control(type='text' name='adults' value= "1")
              .passenger--add
          .passengers__details__item
            label(for='children') Child:
            .passengers__details__item--information
              .passenger--subtract
              input#children.form-control(type='text' name='children' value= "0")
              .passenger--add
          .passengers__details__item
            label(for='seniors') Seniors:
            .passengers__details__item--information
              .passenger--subtract
              input#seniors.form-control(type='text' name='seniors' value= "0")
              .passenger--add

    .search__form__button
      button#search__btn.btn.btn-primary.btn-block.error-origin.error-destination(type='submit' data-toggle="modal" data-target="#loadingModal" disabled) Search for buses

include _modal.jade



