extends layout

block content
  .results
    .results__header
      .results__header--information
        .results__header__title
          span.results__title--location Montreal #{origin}
          span.results__title--arrow.fa.fa-long-arrow-right
          span.results__title--location #{destination} new Nyork
        .results__header__details
          span.results__details--data 26-05-02
          span.results__details--data 2 passangers
      a.results__header--search(data-toggle="collapse", data-target="#search")
    #search.collapse
      include _search.jade

    include _list_results.jade



