.search{
  background: $blue;
  padding: 10px;
  display:flex;
}
.search__form{
  width: 100%;
}
.search__form__button{
  margin: 0 10px;
}
#search__btn{
  margin: 20px 0;
  font-weight: 600;
}
.form-group{
  padding: 0 10px;
  position: relative;
}
label{
  color: $white;
  font-size: 0.8em;
  font-weight: 600;
}
.search__options{
  position: absolute;
  background: $white;
  color: $dark-gray;
  top: 69px;
  border-radius: 4px;
  width: calc(100% - 20px);
  padding: 0;
  list-style: none;
  z-index: 1;
  li{
    padding: 5px 14px;
    &:hover{
      background-color: $light-gray;
      border-radius:5px;
    }
  }
}
#bus-datepicker{
  &:after {
    font-family: FontAwesome;
    content: "\f073";
    position: absolute;
    right: 10px;
    top: 7px;
    color: $dark-gray;
    pointer-events: none;
    z-index: 3;
  }
}
.datepicker{
  width: calc(100% - 40px);
  display: flex;
  border: 2px solid $yellow;
  color: $dark-gray;
  justify-content: stretch;
  text-align: center;
  padding: 0;
  .datepicker-days, .table-condensed{
    width: 100%;
  }
  thead{
    border-bottom: 1px solid $yellow;
    tr{
      background:  $yellow;
      color:  $white;
      &:last-child{
        background:  $white;
        color:  $yellow;
      }
      &:first-child{
        height: 0;
      }
    }
  }
  td{
    &:hover{
      background: $light-gray;
      border-radius: 3px;
    }
    &.disabled{
      color: $light-gray;
      &:hover{
        background-color: $white;
      }
    }
  }
}
//Tablet resolution
@media (min-width: 768px) {
  .search__form__field{
    display: flex;
  }
  .search__form{
    max-width: 800px;
    width:100%;
    margin: auto;
    flex-direction: column;
  }
  .datepicker{
    width: calc(180px);
  }
}

//Computer resolution
@media (min-width: 1024px) {
  .search__form__field{
    display: flex;
  }
  .search__form{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width:100%;
  }
  #search__btn{
    margin: 29px 0 20px;
    padding: 6px 10px;
  }
}

// Exclusive home
@media (min-width: 768px) {
  .home{
    .search{
      background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(241,144,32,0.12) 50%), url(/images/adult-2693054_1920.jpg);
      padding: 80px 10px 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .search__form{
      display: inline-block;
      max-width: 800px;
      width:100%;
    }
    .search__form__button{
      width: 300px;
      margin: 0 auto;
    }
    #search__btn{
      padding: 10px;
    }
  }
}
